body {
    background-color: rgb(211, 209, 209);
  }
  
  .container {
    padding-top: 7.5rem;
  }
  
  .converted-value {
    color: #452B4E;
  }
  
  .conversion-precision {
    color: #452B4E;
  }