* {
    box-sizing: border-box;
}

.intro {
  width: 350px ;
  background:#023535 ;
  margin: auto;
  border-radius: 100px;
}
.quiz {
  background: #0FC2C0;
}
.lead {
  color: white;
  font-weight: 400;
}
.background {
  color: white;
}

.form-check-label {
color: #023535;
font-weight: 500;
}

.gabarito{
 display: block;
 margin: 20px auto;
 background: #023535;
 color: white;
 border: 0;
 border-radius: 4px;
 cursor: pointer;
 padding: 6px 10px;
 margin-right:10px ;
}
.result {
  display: block;
 margin: 20px auto;
 background: #023535;
 color: white;
 border: 0;
 border-radius: 4px;
 cursor: pointer;
 padding: 6px 10px;
}

.final-gabarito {
  display: block;
 margin: 20px auto;
 background: #023535;
 color: white;
 border: 0;
 border-radius: 4px;
 cursor: pointer;
 padding: 6px 10px;
}


.popup-wrapper {
  display: none;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup {
 font-family: Arial;
 text-align: center;
 width: 100%;
 max-width: 350px;
 margin: 10% auto;
 padding: 20px;
 background: #0FC2C0;
 position: relative;
 border-radius: 7px;
}
h1 {
    background-color: #023535;
    color: white;
    border-radius: 50px;
    padding: 4px;
}
.pontuação {
    color: white;
    font-weight: bolder;
    font-size: 50px;
}


.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: white;
} 

.popup-wrapper-gabarito {
  display: none;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup-gabarito {
  font-family: Arial;
 text-align: center;
 width: 100%;
 max-width: 350px;
 margin: 10% auto;
 padding: 20px;
 background: #0FC2C0;
 position: relative;
 border-radius: 7px;
}
.container-quiz { 
  border-radius: 10px;
}

.popup-close-gabarito {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: white;
}

.button-final-gabarito {
  display: block;
 margin: 20px auto;
 background:  #023535;
 color: white;
 border: 0;
 border-radius: 4px;
 cursor: pointer;
 padding: 6px 10px;
 margin-left: 10px;
}

.letra {
  color: white;
  font-size: 30px;  
}

.opção {
  color:#023535;
  font-weight: bold;
  font-size: 20px;
}

.grupo-paragrafos {
  border: 1px solid black;
  border-radius: 5px;
}


.vermelho {
color: red;
}

.laranja {
  color: orange;
}

.verde {
  color: green;
}
#btn {
  display: inline-block;
}




